@import "tailwindcss";

:root {
  --foreground-rgb: 20, 20, 30;
  --background-start-rgb: 255, 240, 245;
  /* Light Pink */
  --background-end-rgb: 255, 255, 255;
  --neon-pink: #ff00ff;
  --neon-purple: #bf00ff;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff0f5;
}

::-webkit-scrollbar-thumb {
  background: #ff69b4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff1493;
}